<br><div id="survey_name">
	<%= @feedback.issue_type %> - <%= @feedback.event %> - <%= @feedback.venue %> - <%= @feedback.eventdate %>
</div>

<p>
  <%= @feedback.comments %>
</p>

<p id="notice">
	<%= notice %>
</p>